# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
backend/.venv
backend/.env

# Node.js
**/node_modules
web-dashboard/dist

# Database
**/*.sqlite
**/*.db
postgres_data/

# Git
.git
.gitignore

# Models/Heavy data (Mounted as volumes instead)
multiple_face_detection/models/
multiple_face_detection/weights/
backend/models/
backend/weights/

# OS
.DS_Store
Thumbs.db

# Documentation/Artifacts
.gemini
brain
task.md
implementation_plan.md
walkthrough.md
