# Core web framework
flask
flask-cors
flask-socketio
Flask-Compress
gunicorn
eventlet
python-dotenv
itsdangerous
requests
Pillow
pillow-heif
flask-sqlalchemy
pydantic
sqlalchemy

# Data processing
numpy<2.0.0
opencv-python-headless
pandas
openpyxl

# Task queue & caching
celery
redis

# Monitoring
prometheus-client
psutil
cachetools

# Database (Postgres support)
psycopg2-binary

# AI / Deep Learning core
torch
torchvision
tensorflow
mtcnn
scipy
scikit-image
albumentations

# Face Recognition & Enhancement
basicsr
gfpgan
realesrgan
facexlib
onnxruntime
onnx<1.17

# AWS (S3 storage + Lambda)
boto3
awsgi
huggingface_hub>=0.19.0
qrcode
